@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #e20000;
    font-weight: bold;
}

#contacto p, #proyectos p, #sobre-mi main p {
    color: #6a6a6a;
    /*padding-right: 90px;
    padding-top: 20px;*/
}

@media (max-width: 576px) {
    .navbar-toggler {
        background-color: transparent;
        border-color: rgba(133, 0, 0, 0.425);
    }
}

header .descarga-cv, #sobre-mi .descarga-cv {
    color: white;
    border: 1px solid red;
    background: #e20000;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
}

#proyectos header .descarga-cv {
    background: #e20000;
}

header .descarga-cv:hover, #proyectos header .descarga-cv:hover, #sobre-mi header .descarga-cv:hover {
    color: black;
    text-decoration-line: none;
    border: 1px solid red;
    background: white;
}


#contacto {
    background-image: url("../images/fondo-contacto.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#proyectos {
    background-image: url("../images/fondo-proyectos.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 576px) {
    #proyectos {
        background-image: url("../images/fondo-proyectos.png");
        background-repeat: no-repeat;
        background-size: 105%;
    }

    #contacto {
        background-image: url("../images/fondo-contacto.png");
        background-repeat: no-repeat;
        background-size: 105%;
        background-position-y: bottom;
    }
}

/*#contacto main, #proyectos main, #sobre-mi main {
    padding-top: 4%;
}*/

header nav ul li {
    /*padding-right: 70px;*/
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
}

.pie {
    /*position: absolute;
    left: 48.3%;
    top: 100%;
    transform: translate(-50%, -100%);
    width: 100%;*/
    font-size: 15px;
    font-style: normal;
    /*padding-bottom: 10px;*/
}

#contacto footer a, #inicio footer a {
    color: white;
}

#proyectos footer a, #sobre-mi footer a, #respuesta-contacto footer a {
    color: red;
}

#proyectos .iconos i, #sobre-mi .iconos i {
    color: red;
}

#contacto .iconos i, #inicio .iconos i {
    color: white;
}

#contacto .destacado {
    text-decoration-line: underline;
}

.iconos i {
    font-size: 29px;
    /*margin-right: 6px;*/
}

.fa-whatsapp {
    font-size: 42px;
    position: fixed;
    right: 3%;
    bottom: 0px;
    background-color: #370A6D;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}

@media (max-width: 576px) {
    .fa-whatsapp {
        font-size: 36px;
        position: initial;
        right: 18px;
        bottom: 0px;
        background-color: transparent;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        color: #e20000;
    }

    #inicio .fa-whatsapp {
        color: white;
    }
}

nav .nav-link {
    background-color: none;
    color: #282828;
    /*padding: 3px 0 0 0;*/
    text-align: center;
    width: 100px;
    height: 32px;
}

nav .nav-link:hover {
    border: 1px solid #e20000;
    border-radius: 120px;
    background-color: #e20000;
    color: white;
}

nav .active {
    border: 1px solid #e20000;
    border-radius: 120px;
}

nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

/*@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 3px 0 0 0;
    }
}*/

.container input, .container textarea, main .g-recaptcha {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    border: none;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    /*padding: 8px;*/
}

input::placeholder, textarea::placeholder {
    color: #1818186c !important;
}

/*.container input::placeholder, .container textarea::placeholder { preguntar por qué no toma el color de la fuente en el placeholder y sí acá
    color: #1818186c;
}*/

.container input:focus, .container textarea:focus {
    background-color: rgba(240, 241, 241, 0.938);
}

.btn {
    background-color: white;
    border-radius: 30px;
    color: #370A6D;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    /*padding: 10px 55px;*/
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.199);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.884);
    color: rgb(35, 33, 49);
}

.contacto-main {
    height: 88vh;
}

@media (max-width: 576px) {
    .contacto-main {
        height: auto;
    }
}

/*fin contacto*/

/*comienzo proyectos*/

#proyectos img {
    /*margin: 13px 10px 10px 10px;*/
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.342);
}

#proyectos .btn {
    color: white;
    background-color: #e20000;
    /*padding: 8px 17px;*/
    font-size: 11px;
    /*margin-top: 10%;
    margin-bottom: 17px;*/
    width: 133px;
}

#proyectos .btn:hover {
    background-color: #9b0000;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.486);
}

#proyectos .code {
    color: #e20000;
    background-color: white;
    box-shadow: none;
}

#proyectos .code:hover {
    background-color: #6a6a6a;
    color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.486);
}

#proyectos .div {
    border-radius: 15px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.199);
    /*margin: 30px 0px 0px 0;
    padding: 0 0 60px 0;*/
    text-align: center;
    max-width: min-content;
    background-color: white;
}

/*#proyectos .bloque {
    display: flex;
    justify-content: space-between;
}*/

.div h2 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.438), #e20000);
    background-color: #e20000;
    text-align: left;
}

.div .btn-group {
    position: absolute;
    bottom: 0;
    left: 0;
}

#proyectos .div p {
    text-align: left;
}

#proyectos .destacado {
    text-decoration-line: underline;
}

#proyectos footer, #contacto footer, #inicio footer {
    position: relative;
}

#respuesta-contacto footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#contacto footer {
    top: 25px;
}

#proyectos footer {
    top: 35px;
}

#inicio footer {
    top: 10px;
}

@media (max-width: 576px) {
    #contacto footer {
        position: unset;
    }

    #contacto footer a, #contacto .fa-whatsapp {
        color: black;
    }

    #contacto .iconos i {
        color: #e20000;
    }
}

/*fin proyectos proyectizados*/


/*comienzo del inicio*/

#inicio main .bloque-inicio {
    height: 80vh;
}

#inicio {
    background-image: url("../images/fondo-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -180px;
    background-position-x: 0;
}

@media (max-width: 576px) {
    #inicio {
        background-position-y: 0px;
        background-position-x: -416px;
    }

    #inicio footer {
        position: initial;
    }
}

#inicio main .destacado {
    text-decoration-line: underline;
}

#inicio .search {
    border-radius: 30px;
    border: 1px solid white;
}

#inicio h1 {
    color: white;
    font-weight: 400;
    font-size: 27px;
    text-align: center;
}

#inicio .fa-search {
    font-size: 40px;
    color: white;
}

@media (max-width: 576px) {
    #inicio .fa-search {
        font-size: 27px;
    }
}

@media (max-width:576px) {
    #inicio h1 {
        color: white;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }
}

/*@media (max-width:10px) {
    #inicio h1 {
        font-size: 20px;
    }
}*/

/*fin del inicio*/

/*sobre mi*/

#sobre-mi .main {
    background-image: url("../images/fondo-proyectos.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*padding-bottom: 100px;*/
}

#sobre-mi .main main img:hover {
    transform:scale(1.01);
}

@media (max-width: 576px) {
    #sobre-mi .main img {
        width: 75%;
    }

    #sobre-mi .main {
        background-size: 100%;
    }
}

@media (max-width: 768px) {
    #sobre-mi .main img {
        width: 85%;
    }
}

#sobre-mi main .descarga-cv {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
}

#sobre-mi .iconos i {
    font-size: 53px;
}

.tecnologias {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.336), #e20000);
    background-color: #e20000;
}

@media (max-width: 576px) {
    
    .tecnologias .col-6 {
        max-width: 47%;
    }

}

@media (max-width: 768px) {
    
    .tecnologias .col-6 {
        max-width: 50%;
    }

}

/*@media (max-width: 1024px) {
    
    .tecnologias .col-6 {
        max-width: 52%;
    }

}*/

.tecnologias h2 {
    color: white;
    font-weight: 500;
}

#sobre-mi .tecnologias p {
    text-align: center;
}

.card {
    border-radius: 20px;
}

.personal, .estudios {
    background-color: #ededed;
}

.personal i {
    color: white;
    background-color: #370a6d;
    font-size: 67px;
    border-radius: 20px;
}

@media (max-width: 576px) {

    .personal .fa-comment-alt {
        width: 109.5%;
    }

}

.bg-white {
    border-radius: 20px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.199);
}

.descr {
    color: #282828;
}

.descr h3 {
    font-weight: bold;
}

.laboral svg, .estudios svg {
    font-size: 22px;
}

.laboral .descr h4, .estudios .descr h4 {
    color: #6a6a6a;
    font-weight: bold;
    font-size: 20px;
}

.laboral .descr h5, .estudios .descr h5 {
    color: #370a6d;
    font-weight: bold;
    font-size: 18px;
}

.estudios .descr h5 {
    color: #e20000;
}

.laboral .descr h6, .estudios .descr h6 {
    color: #6a6a6a;
    font-size: 15px;
}

.laboral .descr li, .estudios .descr li {
    font-size: 15px;
}

.laboral .title, .estudios .title {
    color: #370a6d;
    font-size: 70px;
    font-weight: 500;
}

.laboral .btn, .estudios .btn {
    color: white;
    background-color: #370a6d;
    font-size: 13px;
}

.estudios .btn {
    background-color: #e20000;
}

.estudios .title {
    color: #e20000;
}

#sobre-mi .footer {
    background-color: #ededed;
}

#sobre-mi .iconos i {
    font-size: 29px;
}

/*fin sobre mi*/