body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: #E20000;
}
p{
    color: #6A6A6A;
}
#proyectos{
    background-image: url(../images/fondo-proyectos.png);
    background-size: 100%;
}
#proyectos main{
    height: 83vh;
}
#contacto{
    background-image: url(../images/fondo-contacto.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacto main{
    height: 83vh;
}
input, textarea{
    border-radius: 15px !important;
    border: 0px !important;
}
textarea{
    height: 150px !important;
    resize: none;
}
nav .nav-link{
    color: #282828;
}
nav .active{
    border: 1px solid #E20000;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}
footer, footer a{
    color: white;
    font-weight: 100;
    font-size: 14px;
}
footer .fa-whatsapp{
    color: white;
    background-color: #370A6D;
    font-size: 30px;
    padding: 10px 19px;
    border-radius: 10px 10px 0 0;
    height: 65px;
    width: 65px;
}
footer .fa-github{
    font-size: 30px;
    color: white;
}
footer .fa-linkedin-in{
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#proyectos footer, #proyectos footer a{
    color: #E20000;
}
#proyectos footer .fa-github{
    font-size: 30px;
    color: #E20000;
}
#proyectos footer .fa-linkedin-in{
    color: white;
    background-color: #E20000;
}
.btn{
    background-color: #FFFFFF;
    color: #370A6D;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 35px;
}
.btn:hover{
    color: #FFFFFF;
    background-color: #370A6D;
}
.btn-pdf{
    background-color: #E20000;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}
.btn-pdf:hover{
    text-decoration: underline;
}

@media (max-width: 700px) {/* Para mobile */
    #inicio {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 0px;
        background-position-x: 0;
    }
}
@media (max-width: 768px) {/* Para tablet */
    #inicio {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: -100px;
        background-position-x: 0;
    }
}
@media (max-width: 1200px) {/* Para monitores mas grandes */
    #inicio {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: -180px;
        background-position-x: 0;
    }
}

.gradiente{
    background: rgb(97,0,0);
    background: linear-gradient(90deg, rgba(97,0,0,1) 0%, rgba(121,9,9,1) 11%, rgba(255,0,0,1) 76%, rgba(147,1,1,1) 100%); 
    width: unset;

}
/*Color y tamaño de letra h2*/
.blanco{
color: #FFFFFF;
font-size: 22px;
}

#proyectos{
    background-image: url(../images/sobre-mi-fondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.abajo{
    margin-top: 50px;
}

.whapp{
    position: fixed;
    text-align: right !important;
}